* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  background-color: #F1EFEC;
  color: #5a5a5a;
  padding: 10px;
  scroll-behavior: smooth;
}

.filtros{
  margin-top: 30px;
}

  .filtro-btn {
    background-color: #B6B09F;
    border: none;
    color: #333;
    padding: 0.5rem 1rem;
    margin-bottom: 20px;
    margin-top: 30px;
    margin: 0 0.25rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s ease;
  }

  .filtro-btn:hover {
    background-color: #F2EFE7;
  }

  .filtro-btn.active {
    background-color: #B6B09F;
    color: #333;
  }

.encabezado {
  margin: 20px 20px;
  align-items: center;
}

.encabezado h1 {
  color: #333;
  font-size: 20px;
}

.content-encabezado {
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #b8cfce;
}

.tabla-container {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  overflow-x: auto;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 1rem;  
}


table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
  border-radius: 20px;
  text-align: center;
}

thead {
  background-color: #B6B09F;
  color: #333;
  border-radius: 20px;
}


th,
td {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid #eee;
  
}

tbody tr:hover {
  background-color: #f1f1f1;
}

@media (max-width: 640px) {
  th,
  td {
    padding: 0.1rem;
    font-size: 10px;
  }
}
