* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  background-color: #F1EFEC;
  color: #5a5a5a;
  padding: 10px;
  scroll-behavior: smooth;
}

.filtros{
  margin-top: 30px;
}

  .filtro-btn {
    background-color: #B6B09F;
    border: none;
    color: #333;
    padding: 0.5rem 1rem;
    margin-bottom: 20px;
    margin-top: 30px;
    margin: 0 0.25rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s ease;
  }

  .filtro-btn:hover {
    background-color: #F2EFE7;
  }

  .filtro-btn.active {
    background-color: #B6B09F;
    color: #333;
  }

.encabezado {
  margin: 20px 20px;
  align-items: center;
}

.encabezado h1 {
  color: #333;
  font-size: 20px;
}

.content-encabezado {
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #b8cfce;
}

.tabla-container {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  overflow-x: auto;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 1rem;  
}


#busquedaNombre {
  padding: 10px 15px;
  font-size: 1rem;
  width: 60%;
  max-width: 400px;
  border: 2px solid #cbd5e0; /* gris suave */
  border-radius: 8px;
  outline: none;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#busquedaNombre:focus {
  border-color: #90cdf4; /* azulito chill */
  box-shadow: 0 0 0 3px rgba(144, 205, 244, 0.4);
}

@media (max-width: 600px) {
  #busquedaNombre {
    width: 90%;
  }
}



table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
  border-radius: 20px;
  text-align: center;
}

.contador{
  margin-top: 40px;
  margin-bottom: 45px;
}

thead {
  background-color: #B6B09F;
  color: #333;
  border-radius: 20px;
}


th,
td {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid #eee;
  
}

tbody tr:hover {
  background-color: #f1f1f1;
}

@media (max-width: 640px) {
  th,
  td {
    padding: 0.1rem;
    font-size: 10px;
  }
}


.paginacion button {
  margin: 0 4px;
  padding: 6px 10px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
  margin-top: 20px;
  margin-bottom: 20px;
}

.paginacion button:hover:not(:disabled) {
  background-color: #c0dfff;
}

.paginacion button.active {
  background-color: #B6B09F;
  color: #333;
}

.paginacion button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

